:root {
  --primary-color: #ffffff;
  --secondary-color: #504658;
  --backgound-color: #1a23b6;
  --accent-color: #f568b5;
  --title-font: "Roboto Condensed", sans-serif;
  --sub-font: "Mada", sans-serif;
}
.navbar-custom {
  background-color: #000000;
  height: 70px;
}
.navbar-dark .navbar-brand {
  color: var(--primary-color);
  font-family: var(--sub-font);
  font-size: 24px;
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--primary-color);
  font-family: var(--sub-font);
  font-size: 22px;
}
.navbar-dark .navbar-toggler-icon {
  color: var(--primary-color);
}
.navbar-dark .navbar-nav .nav-link.active {
  font-family: var(--sub-font);
  color: var(--accent-color);
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--accent-color);
}
.navbar-dark .navbar-brand:hover {
  color: var(--accent-color);
}
.hero {
  background-image: linear-gradient(
    to top,
    #fcc5e4 0%,
    #fda34b 15%,
    #ff7882 35%,
    #c8699e 52%,
    #7046aa 71%,
    #0c1db8 87%,
    #020f75 100%
  );
  width: 100%;
  height: 400px;
  left: 0px;
  top: 0px;
}

h1 {
  font-family: var(--title-font);
  line-height: 1;
}
.hero h1 {
  font-weight: 500;
  font-size: 96px;
  text-align: center;
}
.hero h2,
h3,
p {
  font-family: var(--sub-font);
  text-align: center;
}
.hero h2 {
  padding: 80px 0 0;
  font-size: 36px;
}
.contact-me {
  color: var(--primary-color);
  text-align: middle;
  text-decoration: none;
}
.contact-me:hover {
  color: #c8699e;
}

h2 {
  font-family: var(--title-font);
  font-size: 4rem;
}
h3 {
  font-size: 24px;
}
.btn-branding {
  background-color: #c8699e;
  padding: 12px 30px;
  border: #d34894;
  border-radius: 8px;
  font-size: 22px;
  color: var(--primary-color);
}
.btn-branding:hover {
  background-color: var(--primary-color);
  border: solid 1px#c8699e;
  border-radius: 8px;
  font-size: 22px;
  color: #c8699e;
  transition: 0.3s ease-in;
}

.projects-intro {
  font-size: 25px;
  padding: 33px;
}
.app-description {
  font-size: 18px;
  text-align: left;
}
.skills-used {
  text-align: right;
}
.fab {
  font-size: 35px;
  margin: 3px;
  opacity: 0.8;
}

.profile-section h1 {
  font-size: 80px;
}
.profile-section p {
  text-align: left;
  font-size: 24px;
}
.contact-box {
  margin: 70px 0 0;
  padding: 30px 120px;
  background-color: var(--backgound-color);
  border-radius: 4px;
}
.contact-box h4 {
  font-size: 48px;
  color: var(--primary-color);
}
.contact-box p {
  font-size: 20px;
  color: var(--primary-color);
}
.email-link {
  font-size: 25px;
  text-decoration: none;
  color: #000000;
  margin: 40px 0 20px;
}

.fa-github,
.fa-twitter,
.fa-linkedin-in {
  color: var(--primary-color);
  background-color: var(--backgound-color);
  padding: 10px;
  margin: 0 18px;
  border-radius: 50%;
}
.fa-github:hover,
.fa-twitter:hover,
.fa-linkedin-in:hover {
  background-color: #c8699e;
  transition: 0.3s ease-in;
}

/*about page, mywork page*/
.about-top,
.mywork-top {
  background-image: linear-gradient(
    to top,
    #fcc5e4 0%,
    #fda34b 15%,
    #ff7882 35%,
    #c8699e 52%,
    #7046aa 71%,
    #0c1db8 87%,
    #020f75 100%
  );
  width: 100%;
  height: 300px;
  left: 0px;
  top: 0px;
}

.profile-pic img {
  margin: 40px;
}
.about-top h1,
.mywork-top h1 {
  font-size: 50px;
  text-align: center;
  padding: 100px 0 0;
}
.shecodes-certs p {
  font-size: 24px;
}

/*mywork page*/
.content h1 {
  font-size: 70px;
  line-height: 1;
  padding: 50px 0;
}
.container .content .btn-branding {
  margin: 0 auto;
}

/*contact page*/
.content a {
  text-align: center;
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 46px;
  }
  .profile-section h1 {
    font-size: 50px;
    text-align: center;
  }
  .profile-section p {
    text-align: center;
  }
  .profile-section button {
    display: block;
    margin: auto;
  }
  .profile-pic {
    margin-top: 30px;
  }
  .content h1 {
    font-size: 50px;
  }
}
